@import "normalize.min.css";
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
body {
  height: 100%;
  padding: 0;
}
html,
button,
input,
select,
textarea {
  color: #222222;
}
body {
  font-size: 1em;
  line-height: 1.4;
  margin: 0;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
a,
a:hover,
a:visited {
  color: #e44d26;
  text-decoration: none;
}
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #f3f3f3;
  color: #222222;
}
.wrapper {
  width: 90%;
  margin: 0 5%;
}
.top-bg {
  position: absolute;
  display: block;
  background-color: #00bcd4;
  width: 100%;
  height: 290px;
}
.header-container {
  position: relative;
  display: block;
  width: 100%;
  height: 175px;
}
.header-container .title {
  font-size: 2.5em;
  margin: 10px 0 15px 0;
}
/* ==============
  MOBILE: Menu
   ============== */
nav ul {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
nav ul li {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
}
nav ul li a {
  position: relative;
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 1.1em;
  text-transform: uppercase;
  text-align: center;
  color: #222222;
  padding: 0px;
}
nav ul li a:hover,
nav ul li a:visited {
  color: #222222;
}
nav ul li a:hover {
  text-decoration: underline;
}
/* ==============
  MOBILE: Main
   ============== */
.main {
  padding: 30px 0;
}
/* ===============
  ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px;
}
.main-container {
  position: relative;
  display: block;
}
.social {
  position: relative;
  display: block;
  float: right;
  margin: 0;
}
.social a {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}
.resume-popup {
  display: none;
  text-align: center;
  background-color: #e44d26;
  margin-top: -30px;
}
.resume-popup.active {
  display: block;
}
.resume-popup a,
.resume-popup a:hover,
.resume-popup a:visited {
  display: block;
  color: white;
  text-decoration: none;
}
.resume-popup a:hover {
  text-decoration: underline;
}
.work-items {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-flex-flow: row wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.work-item {
  box-sizing: border-box;
  width: 220px;
  height: 220px;
  margin: 15px;
  padding: 10px;
  clear: none;
  background-color: white;
  -webkit-box-shadow: 0 3px 6px #aaaaaa;
  -moz-box-shadow: 0 3px 6px #aaaaaa;
  box-shadow: 0 3px 6px #aaaaaa;
}
.work-item .card-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.work-item .card-image img {
  width: 100%;
}
.really-small {
  font-size: 0.7em;
}
.experiment {
  margin-bottom: 10px;
}
.name-email {
  display: block;
  width: 100%;
  text-align: center;
}
.name-email h2 {
  margin-bottom: 0;
}
.name-email p {
  margin-top: 0.25em;
}
.section-title {
  text-decoration: underline;
}
.education,
.experience {
  clear: both;
}
.education h3,
.experience h3,
.education h4,
.experience h4 {
  margin-bottom: 0;
}
.education h4,
.experience h4 {
  margin-top: 10px;
}
.education p,
.experience p {
  margin: 0;
}
.education .title,
.experience .title {
  float: none;
}
.skills-list {
  display: block;
  float: left;
  width: 95%;
  margin: 0 0 0 2%;
}
.image-preload {
  display: none;
}
.mobile-popup {
  display: none;
  margin-top: -30px;
  padding: 1%;
  text-align: center;
  background-color: #e44d26;
}
.mobile-popup .close {
  float: right;
  color: white;
}
.mobile-popup .close:hover,
.mobile-popup .close:visited {
  color: white;
}
.mobile-popup p {
  clear: both;
}
.mobile-popup.active {
  display: block;
}
.mobile .mobile-popup {
  display: block;
}
.resume {
  padding-bottom: 150px;
}
.resume h3 {
  font-size: 1.2em;
}
.resume h4 {
  font-size: 1.1em;
}
.clear {
  display: block;
  clear: both;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
  INTERMEDIATE: Menu
   ==================== */
  nav ul {
    /*float: right;*/
    position: relative;
    display: block;
    margin: 0 auto;
    width: 420px;
  }
  nav ul li {
    position: relative;
    display: inline-block;
    width: calc(32%);
  }
  nav ul li a {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  /*  nav a {
    float: right;
    width: 28%;
    min-width: 95px;
    margin-bottom: 0;
  }*/
  nav li:first-child a {
    margin-left: 0;
  }
  nav li:last-child a {
    margin-right: 0;
  }
  .resume-popup {
    float: right;
    width: 31.2%;
    text-align: center;
  }
  .mobile-popup {
    width: 90%;
    margin-left: 4%;
    margin-right: 4%;
  }
}
@media only screen and (min-width: 768px) {
  .skills-list {
    display: inline-block;
    width: 40%;
  }
  /* ====================
  WIDE: CSS3 Effects
   ==================== */
  .header-container,
  .main aside {
    /*-webkit-box-shadow: 0 5px 10px @light-grey;
       -moz-box-shadow: 0 5px 10px @light-grey;
        box-shadow: 0 5px 10px @light-grey;*/
  }
  /* ============
  WIDE: Menu
   ============ */
  .title {
    float: left;
  }
  nav ul {
    float: right;
    width: 420px;
  }
  nav ul li {
    width: calc(137px);
  }
  nav ul li a {
    width: 100%;
    padding: 35px 0px;
  }
  .mobile-popup {
    width: 48%;
    margin-left: 25%;
    margin-right: 25%;
  }
}
@media only screen and (min-width: 1140px) {
  /* ===============
  Maximal Width
   =============== */
  .wrapper {
    width: 1080px;
    height: 100%;
    margin: 0 auto;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
